@{
    ViewData["Title"] = "About us";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>This is the backend of the amazing IToast. Don't hesitate in testing all it's functionality!</p>
