@{
    ViewData["Title"] = "Contact us";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Plaza porta de la mar 6<br />
    46004 Valencia<br />
    Office Amaris<br />
    <abbr title="Phone">P:</abbr>
    +34 96 352 37 11
</address>

<address>
    <strong>Support #1:</strong> <a href="mailto:joseantonio.jurado@amaris.com">joseantonio.jurado@amaris.com</a><br />
    <strong>Support #2:</strong> <a href="mailto:pablo.chulvisancho@amaris.com">pablo.chulvisancho@amaris.com</a>
</address>
