@{
    ViewData["Title"] = "Home Page";
	
}

<div class="row">
    <div class="row-md-12" style="grid-row:span">
        <div>
            <h2>IToast Control Panel </h2>
            <label id="lblMinutes">Time </label>
            <input id="minutesInput" type="number" min="0" max="59" placeholder="00" style="width: 45px" />
            <span>:</span>
            <input id="secondsInput" type="number" min="0" max="59" placeholder="00" maxlength="2" style="width: 45px" />
            <input type="button" id="btnSetTime" value="Set Time" onclick="setTime()" />
        </div>
        <div>
            <label id="lblToasts">Number of toasts</label>
            <input type="number" id="toastsInput" min="0" placeholder="00" style="width: 45px" />
            <input type="button" id="btnSetToasts" value="Set Toasts" onclick="setToasts()"  />
        </div>
		<div>
			<label id="lblToasts">Profile</label>
			<input type="radio" name="profile" value="4" onclick="setProfile(this.value)">Burnt</input>
			<input type="radio" name="profile" value="3" onclick="setProfile(this.value)">High</input>
			<input type="radio" name="profile" value="2" onclick="setProfile(this.value)">Normal</input>
			<input type="radio" name="profile" value="1" onclick="setProfile(this.value)">Low</input>
		</div>
        <div>
            <input type="button" id="btnStatus" value="Current Status" onclick="currentStatus();" />
            <input type="button" id="btnStart" value="Toast!" onclick="setOnToast();"/>
            <input type="button" id="btnStop" value="Stop" onclick="setOffToast();"/>
        </div>
		<div>
			<label id="lblPantry">Pantry</label>
			<input type="button" id="btnHowMany" value="How Many Breads" onclick="howManyBreads();" />
		</div>
        <div>
            
        </div>
    </div>
</div>
<br />
<div class="row">
	<div id="divSalidaRdos" style='border:1px solid black; '>
	</div>
</div>

<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.0.3.min.js"></script>

<script>
    var cabeceraUri = 'http://localhost:@ViewBag.Puerto/api';

	var urls = {

		'howmanybreads': {
			"tipo":'GET',
			"url": cabeceraUri +'/pantry/howmanybreads/'
		},
		/* --Toaster--*/
		'settime':{
			"tipo":'PATCH',
			"url": cabeceraUri + '/toaster/SetTime/'
		},
		'settoasts':{
			"tipo":'PATCH',
			"url": cabeceraUri + '/toaster/SetToasts/'
		},
		'getcurrentstatus': {
			"tipo":'GET',
			"url": cabeceraUri +'/toaster/GetCurrentStatus/'
		},
		'setontoast':{
			"tipo": 'PUT',
			"url": cabeceraUri + '/Toaster/api/toasters/toast/1'
		},
		'setofftoast':{
			"tipo": 'PUT',
			"url": cabeceraUri + '/Toaster/api/toasters/toast/0'
		},
		'setprofile':{
			"tipo": 'PATCH',
			"url": cabeceraUri + '/Toaster/setProfile/'
		}
	};

	/* ------Toaster--------*/

	function setTime(){
		var minutesToSeconds = document.getElementById('minutesInput').value * 60;
		var seconds =  document.getElementById('secondsInput').value * 1; //!IMP *1
		if (minutesToSeconds == 0 && seconds == 0) {
			errormessages("Revise el tiempo. Debe tener al menos un segundo.");
			return;
		}

		var totalSeconds = parseInt(parseInt(minutesToSeconds,10) + parseInt(seconds,10));

		
		llamadaAjax(urls["settime"], totalSeconds)
	};

	function setToasts(){
		var toasts = document.getElementById('toastsInput').value * 1;
		llamadaAjax(urls["settoasts"], toasts);
	};

	 function currentStatus() {
		llamadaAjax(urls["getcurrentstatus"]);
    };

	function setOnToast(){
		llamadaAjax(urls["setontoast"]);

	};

	function setOffToast(){
		llamadaAjax(urls["setontoast"]);
	};

	function setProfile(valor){
		llamadaAjax(urls["setprofile"],valor);
	}

	/* ------Pantry--------*/

	function howManyBreads(){
		llamadaAjax(urls["howmanybreads"]);
	};

	function llamadaAjax(objLlamada,params){
		//console.log('params:'+ params);
		
		  $.ajax({
            type: objLlamada['tipo'],
            url: (params && (params != null) && (params != 'undefined') ) ? (objLlamada['url'] + params) : objLlamada['url'],
            contentType: "application/json;charset=utf-8",
            success: function (data, status, xhr) {
				//alert(data);
				//document.getElementById('divSalidaRdos').
				//console.log('data:'+data);
				//$('#divSalidaRdos').append('<p>'+data+'</p>');
				messages(data);
            },
            error: function (xhr) {
				errormessages(xhr.responseText);
                //$('#divSalidaRdos').append('<p>'+ xhr.responseText + '</p>');
            }
        });
	};

	function messages(msj){
		$('#divSalidaRdos').append('<p class="text-dark font-weight-bold">'+msj+'</p>');
	}

	function errormessages(msj){
		$('#divSalidaRdos').append('<p class="text-danger font-weight-bold">'+msj+'</p>');
	}


</script>