@using Microsoft.Extensions.Options;
@using Backend.Configuration;

@inject IOptions<ApplicationConfigurations> OptionsApplicationConfiguration
﻿
@{
    ViewData["Title"] = "Home Page";
	
}

<div class="row">
    <div class="row-md-12" style="grid-row:span">
	<h3>IToast Control Panel </h3>
	<h2>Toaster</h2>
        <div>
            <label id="lblMinutes">Time </label>
            <input id="minutesInput" type="number" min="0" max="59" placeholder="00" style="width: 45px" />
            <span>:</span>
            <input id="secondsInput" type="number" min="0" max="59" placeholder="00" maxlength="2" style="width: 45px" />
            <input type="button" id="btnSetTime" value="Set Time" onclick="setTime()" />
        </div>
        <div>
            <label id="lblToasts">Number of toasts</label>
            <input type="number" id="toastsInput" min="0" placeholder="00" style="width: 45px" />
            <input type="button" id="btnSetToasts" value="Set Toasts" onclick="setToasts()"  />
			<input type="button" id="btnHowManyToasts" value="How Many Toasts Made" onclick="howManyToastsMade()" />
			
        </div>
		<div>
			<label id="lblToasts">Profile</label>
			<input type="radio" name="profile" value="4" onclick="setProfile(this.value)">Burnt</input>
			<input type="radio" name="profile" value="3" onclick="setProfile(this.value)">High</input>
			<input type="radio" name="profile" value="2" onclick="setProfile(this.value)">Normal</input>
			<input type="radio" name="profile" value="1" onclick="setProfile(this.value)">Low</input>
			<input type="button" id="btnCurrentProfile" value="Current Profile" onclick="getCurrentProfile()" />
		</div>
        <div>
            <input type="button" id="btnStatus" value="Current Status" onclick="currentStatus();" />
            <input type="button" id="btnStart" value="Toast!" onclick="setOnToast();"/>
            <input type="button" id="btnStop" value="Stop" onclick="setOffToast();"/>
			<input type="button" id="btnToasterReset" value="Toaster Off" onclick="toasterOff()" />
        </div>
		<h2>Pantry</h2>
		<div>
			<input type="button" id="btnGetStatus" value="Status" onclick="getPantryStatus();" />
			<input type="button" id="btnHowMany" value="How Many Breads" onclick="howManyBreads();" />
			<input type="button" id="btnPantryHasBread" value="Has Bread?" onclick="pantryHasBread();" /><br />
			<input id="inputBreadsToBuy" type="number" min="0" max="100" placeholder="000" maxlength="3" />
			<input type="button" id="btnBuyBread" value="Buy bread" onclick="buyBread();" />
		</div>
        <div>
            
        </div>
    </div>
</div>


<div class="row">
<h2>Output Screen</h2>
	<input type="button" id="btnClearOutput" value="Limpiar" onclick="clearOutput()" />
	<div id="divOutputResults" style='border:1px solid black; height: 350px; overflow-y: scroll; '>
	</div>
</div>

<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.0.3.min.js"></script>

<script>
 
 function clearOutput(){
	$('#divOutputResults').empty();
 };

  var uriHead = 'http://localhost:@OptionsApplicationConfiguration.Value.ApplicationPort/api';
  
	var urls = {

		'howmanybreads': {
			"tipo":'GET',
			"url": uriHead +'/pantry/howmanybreads/'
		},
		/* --Toaster--*/
		'settime':{
			"tipo":'PATCH',
			"url": uriHead + '/toaster/SetTime/'
		},
		'settoasts':{
			"tipo":'PATCH',
			"url": uriHead + '/toaster/SetToasts/'
		},
		'getcurrentstatus': {
			"tipo":'GET',
			"url": uriHead +'/toaster/GetCurrentStatus/'
		},
		'setontoast':{
			"tipo": 'PUT',
			"url": uriHead + '/Toaster/api/toasters/toast/1'
		},
		'setofftoast':{
			"tipo": 'PUT',
			"url": uriHead + '/Toaster/api/toasters/toast/0'
		},
		'setprofile':{
			"tipo": 'PATCH',
			"url": uriHead + '/Toaster/setProfile/'
		},
		'howmanytoastsmade':{
			"tipo": 'GET',
			"url": uriHead + '/toaster/HowManyToastsMade'
		},
		'toasteroff':{
			"tipo": 'PUT',
			"url": uriHead + '/toaster/api/toasters/reset'
		},
		'getcurrentprofile':{
			"tipo": 'GET',
			"url": uriHead + '/toaster/GetCurrentProfile'
		},
		/*-- Pantry --*/
		'buybread':{
			"tipo": 'POST',
			"url": uriHead + '/pantry/breads/buy/'
		},
		'getpantrystatus':{
			"tipo": 'GET',
			"url": uriHead + '/pantry/status/'
		},
		'pantryhasbread':{
			"tipo": 'GET',
			"url": uriHead + '/pantry/hasbread/'
		}

	};

	/* ------Toaster--------*/

	function setTime(){
		var minutesToSeconds = document.getElementById('minutesInput').value * 60;
		var seconds =  document.getElementById('secondsInput').value * 1; //!IMP *1
		if (minutesToSeconds == 0 && seconds == 0) {
			errormessages("Check time. Must be almost a second in place.");
			return;
		}

		var totalSeconds = parseInt(parseInt(minutesToSeconds,10) + parseInt(seconds,10));
		
		callAjax(urls["settime"], totalSeconds)
	};

	function setToasts(){
		var toasts = document.getElementById('toastsInput').value * 1;
		callAjax(urls["settoasts"], toasts);
	};

	 function currentStatus() {
		callAjax(urls["getcurrentstatus"]);
    };

	function setOnToast(){
		callAjax(urls["setontoast"]);

	};

	function setOffToast(){
		callAjax(urls["setofftoast"]);
	};

	function setProfile(valor){
		callAjax(urls["setprofile"],valor);
	};

	function howManyToastsMade(){
		callAjax(urls["howmanytoastsmade"]);
	};
	
	function toasterOff(){
		callAjax(urls["toasteroff"]);
	};

	function getCurrentProfile(){
		callAjax(urls["getcurrentprofile"]);
	};
	


	/* ------Pantry--------*/

	function howManyBreads(){
		callAjax(urls["howmanybreads"]);
	};

	function getPantryStatus(){
		callAjax(urls["getpantrystatus"]);
	}


	function buyBread(){
		var iBreadsToBuy = parseInt($('#inputBreadsToBuy').val() * 1);
		
		if (iBreadsToBuy < 1) {
			errormessages("Can't buy less 1 bread");
			return;
		};
		callAjax(urls["buybread"], iBreadsToBuy);
	};

	function pantryHasBread(){
		callAjax(urls["pantryhasbread"]);
	}

	/* -------------------- */

	function callAjax(objCalled,params){
		console.log('params:'+ params);
		
		  $.ajax({
            type: objCalled['tipo'],
            url: (params && (params != null) && (params != 'undefined') ) ? (objCalled['url'] + params) : objCalled['url'],
            contentType: "application/json;charset=utf-8",
            success: function (data, status, xhr) {
				messages('('+objCalled['url']+'): '+data);
            },
            error: function (xhr) {
				errormessages('('+objCalled['url']+'): '+xhr.responseText);
            }
        });
	};

	function messages(msj){
		$('#divOutputResults').append('<p class="text-dark font-weight-bold">'+msj+'</p>');
	}

	function errormessages(msj){
		$('#divOutputResults').append('<p class="text-danger font-weight-bold">'+msj+'</p>');
	}


</script>